.header {
  display: flex;
  justify-content: space-between;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.editUserInformation {
  font-size: 18px;
  font-weight: 500;
  color: #a0a3a9;
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  justify-content: space-between;
}
