.btn {
  background-color: #3b82f6 !important;
  color: #ebf3fe;
  border: none;
}

.btn:hover,
.btn:active,
.btn:visited {
  background-color: #475569 !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
