.cardContainer {
  position: relative;
}

.secondaryCardTitle {
  font-size: 18px;
  font-weight: 500;
  color: #a0a3a9;
}

.taskCount {
  font-size: 36px;
  font-weight: 500;
  color: #07142f;
}

.comparison {
  display: flex;
  align-items: center;
  gap: 5px;
}

.percent {
  font-size: 20px;
  font-weight: 500;
  color: #f90d0d;
}

.directionIcon {
  font-size: 20px;
  color: #f90d0d;
}

.cardText {
  font-size: 16px;
  font-weight: 500;
  color: #a0a3a9;
}

.cardChart {
  position: absolute;
  bottom: 0;
  right: 0;
}

.mainCardTitle {
  font-size: 18px;
  font-weight: 500;
  color: #4c4c4c;
}

.progressChart {
  display: flex;
  justify-content: center;
}

.newTaskContent {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tableHover tbody tr td,
.tableHover tbody tr th {
  transition: all 0.3s ease;
}

.tableHover tbody tr:hover td,
.tableHover tbody tr:hover th {
  background-color: #e9effd;
  cursor: pointer;
}
