.pagination {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1px;
  padding: 0;
}

.pageLink {
  border-radius: 9px;
}

.pageLink:link,
.pageLink:visited {
  display: inline-block;
  text-decoration: none;
  background-color: #ebf3fe;
  color: #3b82f6;
  padding: 10px;
  border: 1px solid;
  font-weight: 500;
  transition: all 0.3s;
}

.pageLink:hover,
.pageLink:active {
  background-color: #3b82f6;
  color: #ebf3fe;
}

.selectedPageLink {
  border-radius: 9px;
}

.selectedPageLink:link,
.selectedPageLink:visited {
  display: inline-block;
  text-decoration: none;
  background-color: #3b82f6;
  color: #ebf3fe;
  padding: 10px;
  border: 1px solid;
  font-weight: 500;
  transition: all 0.3s;
}

.selectedPageLink:hover,
.selectedPageLink:active {
  background-color: #ebf3fe;
  color: #3b82f6;
}
