.sidebar {
  position: relative;
  flex-basis: 240px;
  background: #3b82f6;
  padding: 6px 14px;
}

.logo {
  display: flex;
  color: #e9effd;
  height: 100px;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.logo:link,
.logo:visited,
.logo:hover,
.logo:active {
  color: #e9effd;
  text-decoration: none;
}

.logoIcon {
  font-size: 40px;
  margin-right: 10px;
}

.logoName {
  font-size: 30px;
  font-weight: 500;
}

.navList {
  padding: 0;
}

.navList li {
  height: 50px;
  line-height: 50px;
  list-style: none;
}

.navList li a {
  color: #e9effd;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 12px;
  padding-left: 12px;
  gap: 9px;
}

.navList li a:hover {
  color: #3b82f6;
  background: #e9effd;
}

.pageName {
  font-weight: 400;
}

.navListIcon {
  height: 30px;
  min-width: 30px;
  line-height: 30px;
  text-align: center;
}

.profileContent {
  display: flex;
  align-items: center;
  gap: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: #e9effd;
  background: #3575dd;
}

.profileContentDetails {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profileImage {
  object-fit: cover;
  border-radius: 12px;
}

.name {
  font-size: 15px;
  font-weight: 500;
}

.job {
  font-size: 12px;
}

.logoutIcon {
  color: #e9effd;
  min-width: 30px;
  height: 30px;
  border-radius: 12px;
}
